json/WhatsApp Interest Rate.json
{
  "name": "WhatsApp Interest Rate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interest-rates",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        2320
      ],
      "id": "f0725d13-a8d7-4b57-82a3-3479ad4ebfc2",
      "name": "Webhook",
      "webhookId": "789280c9-ef0c-4c3a-b584-5b3036e5d799"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5480aef5-5945-422d-8ebf-550cf76f815d",
              "name": "interestMessage",
              "value": "={{ $('Webhook').item.json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        2320
      ],
      "id": "ab92d85a-fbca-430b-9c44-752ae0f0704b",
      "name": "Store Message"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "=A1:B400"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        832,
        2320
      ],
      "id": "f27a427a-d7fd-4019-a126-674bb1a2fd5d",
      "name": "Get Contacts",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1488,
        2288
      ],
      "id": "ec34868b-2271-4ca1-b8dd-f36e5b960d74",
      "name": "Split Contact Loop",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whatsappbot-xqgv.onrender.com/send-message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jid",
              "value": "={{ $json.phone + '@c.us' }}"
            },
            {
              "name": "message",
              "value": "=Dear {{ $json.name }}\n\n{{ $json.content }}"
            },
            {
              "name": "imageUrl",
              "value": "={{ $json.img }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        2400
      ],
      "id": "177d9501-ab42-406b-ad9e-166b747a5a76",
      "name": "Send WhatsApp",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updates": "lastIndex",
            "Content": "={{ $json.lastIndex }}"
          },
          "matchingColumns": [
            "Updates"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Updates",
              "displayName": "Updates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgURL",
              "displayName": "imgURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        2192
      ],
      "id": "366a979e-d9f3-4b0c-bc39-0f73698e38ff",
      "name": "Update Last Index",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "E1:F2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        464,
        2320
      ],
      "id": "562081e6-7071-4e1b-acb7-4acdad7f7651",
      "name": "Read LastIndex",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9908e1dd-021e-4019-9590-ff7d5a1bc994",
              "leftValue": "={{ $json.Content }}",
              "rightValue": "={{ $('Get Contacts').all().length }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2352,
        2192
      ],
      "id": "f1b0ad82-c252-4318-9e5c-865c590309b6",
      "name": "More Contacts?"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2576,
        2192
      ],
      "id": "37485413-757f-44ac-bf30-d8696ff1ae5d",
      "name": "5min",
      "webhookId": "89a6465c-b2e5-4521-8756-2f59d7341fdf"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Get lastIndex from first item\nconst lastIndex = parseInt(items[0].json.lastIndex) || 0;\n\n// Step 2: Extract all contacts\nconst contacts = items.map(item => ({\n  name: item.json.Name || item.json.name,\n  phone: item.json.Contact || item.json.contact\n}));\n\n// Step 3: Slice next 10 contacts after lastIndex\nconst nextBatch = contacts.slice(lastIndex, lastIndex + 10);\n\n// Step 4: Get message content from Interest Updates node\nconst messageImg = $('Merge Content').item.json.imgURL || '';\n\nconst messageContent = $('Merge Content').item.json.text || '';\n\n// Step 5: Return contacts with message content and updated index\nreturn nextBatch.map((contact, i) => ({\n  json: {\n    name: contact.name,\n    phone: contact.phone,\n    img: messageImg,\n    content: messageContent,\n    index: lastIndex + i + 1 // index to be used for next batch\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        2320
      ],
      "id": "1b1aa0c8-0914-4920-a0b9-7708f3b36d5e",
      "name": "Slice 10 Contacts",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updates": "lastIndex",
            "Content": "0"
          },
          "matchingColumns": [
            "Updates"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Updates",
              "displayName": "Updates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -384,
        2320
      ],
      "id": "5670045d-ad0d-488c-8e3d-2aa94a2f45e7",
      "name": "Reset Index 0",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h0zIhc2NotVUM5au",
          "mode": "list",
          "cachedResultName": "WhatsApp Interest Rate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Code').item.json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        2192
      ],
      "id": "51d1da29-68d2-4778-a30d-5a0b09037458",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        2128
      ],
      "id": "9ba435e9-5f99-41df-90cb-c01c1a44984a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Updates": "Message",
            "Content": "={{ $('Webhook').item.json.body.text }}"
          },
          "matchingColumns": [
            "Updates"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Updates",
              "displayName": "Updates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imgURL",
              "displayName": "imgURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -208,
        2320
      ],
      "id": "e6afc3e8-e376-4850-bf80-504165fae4c0",
      "name": "Interest Updates",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2272,
        2384
      ],
      "id": "e53333c9-3631-45a4-bde3-971df3b26e36",
      "name": "5s",
      "webhookId": "2e1c347c-cb8c-486b-bace-0362bc51ff7f"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Ensure numeric comparison for maxIndex\nconst maxIndex = Math.max(...items.map(i => Number(i.json.index)));\n\n// Get the last item in the array\nconst lastItem = items[items.length - 1];\n\n// Extract details from the last item\nconst lastName = lastItem?.json?.name;\nconst lastPhone = lastItem?.json?.phone;\nconst content = lastItem?.json?.content;\n\nreturn [{\n  json: {\n    lastIndex: maxIndex,\n    lastName: lastName,\n    lastPhone: lastPhone,\n    content: content\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        2208
      ],
      "id": "abdeecf4-14f3-4727-aae7-06503000a7b3",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdf54336-0350-4a3e-9ee0-340a3e5da444",
              "name": "name",
              "value": "={{ $('Split Contact Loop').item.json.name }}",
              "type": "string"
            },
            {
              "id": "16cfda90-38f7-4a01-8661-58e38886ba3f",
              "name": "phone",
              "value": "={{ $('Split Contact Loop').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "050b828b-6212-4ab3-8a6b-9bd3ebeac5cf",
              "name": "content",
              "value": "={{ $('Split Contact Loop').item.json.content }}",
              "type": "string"
            },
            {
              "id": "40e884be-5efc-4d3d-a23e-334094ac554c",
              "name": "index",
              "value": "={{ $('Split Contact Loop').item.json.index }}",
              "type": "string"
            },
            {
              "id": "c2ad19c5-6c80-4e73-a353-98b9b2f5366f",
              "name": "img",
              "value": "={{ $('Split Contact Loop').item.json.img }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        2384
      ],
      "id": "5c284cea-d68d-4a2d-9dfd-fc2341f8fc20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8",
          "mode": "list",
          "cachedResultName": "Interest Rates Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q1rxsHPQPmOPcxDEKCUN3mG_lZZwfhAOm5sSMArggT8/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "H1:H2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        2320
      ],
      "id": "8b256a73-ee59-4040-b4c1-d590657b4cbe",
      "name": "Read imgURL",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LjgiXJsjSODWhRom",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c0ceb3e-5ba1-4030-b9c3-b1bf0526e436",
              "name": "lastIndex",
              "value": "={{ $('Read LastIndex').item.json.Content }}",
              "type": "string"
            },
            {
              "id": "e08070e6-587e-45df-9830-711f40d4837c",
              "name": "name",
              "value": "={{ $('Get Contacts').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "cf178296-b546-47de-aca0-e5e0ff7c996d",
              "name": "contact",
              "value": "={{ $('Get Contacts').item.json.Contact }}",
              "type": "string"
            },
            {
              "id": "f450e7b8-a2ee-4afe-bcd4-b9e8391146c0",
              "name": "imgURL",
              "value": "={{ $('Read imgURL').item.json.imgURL }}",
              "type": "string"
            },
            {
              "id": "f63d286b-9118-42f9-817f-0308e5fb98d3",
              "name": "text",
              "value": "={{ $('Response').item.json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        2320
      ],
      "id": "0cb17bbc-2794-4469-acac-9f7e5cda7709",
      "name": "Merge Content",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = items.length > 1 ? items.find(i => i.json) : items[0];\n\nconst message =\n  result.json?.interestMessage ??\n  result.json?.text ??\n  null;\n\nreturn [{ json: { response: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2320
      ],
      "id": "5d6e6a36-ecc0-4e6d-ba96-4090a8fbc949",
      "name": "Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whatsappbot-xqgv.onrender.com/send-message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "groupId",
              "value": "=120363418590443637@g.us"
            },
            {
              "name": "message",
              "value": "=Note that Whatsapp broadcast stopped till contact: {{ $node['Store User'].json.name }}, {{ $node['Store User'].json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        2624
      ],
      "id": "cb450c80-6a65-4545-acaa-4f48defd86d4",
      "name": "Notify Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d851afbe-5842-410e-9f73-cb9d0e535c7e",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "5086d9fb-f305-40ac-9372-52e3f31a894a",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "3bcb08d3-fd34-43a3-b02d-b6fc5bcea708",
              "name": "img",
              "value": "={{ $json.img }}",
              "type": "string"
            },
            {
              "id": "94b4d221-99d6-4290-852c-4b93aa8459be",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        2384
      ],
      "id": "6fdbf2f3-a021-49e8-84c5-fdd627ea5a0e",
      "name": "Store User"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://whatsappbot-xqgv.onrender.com/send-message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "groupId",
              "value": "=120363418590443637@g.us"
            },
            {
              "name": "message",
              "value": "=Note that Whatsapp broadcast stopped till contact: {{ $node['Code'].json.lastName }}, {{ $node['Code'].json.lastPhone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        2000
      ],
      "id": "b51ba180-45e9-41fd-8692-8953d098ba37",
      "name": "Notify Error1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Reset Index 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Contact Loop": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Index": {
      "main": [
        [
          {
            "node": "More Contacts?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read LastIndex": {
      "main": [
        [
          {
            "node": "Read imgURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Contacts?": {
      "main": [
        [
          {
            "node": "5min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slice 10 Contacts": {
      "main": [
        [
          {
            "node": "Split Contact Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5min": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Index 0": {
      "main": [
        [
          {
            "node": "Interest Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interest Updates": {
      "main": [
        [
          {
            "node": "Store Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5s": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update Last Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Contact Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read imgURL": {
      "main": [
        [
          {
            "node": "Get Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content": {
      "main": [
        [
          {
            "node": "Slice 10 Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Read LastIndex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5030265-8921-47d1-bec0-fef3bb87cca9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ccd5ffba8066f53a6c96c27118a23a968ef4029c73a225e4b44e5ea1c5231149"
  },
  "id": "h0zIhc2NotVUM5au",
  "tags": []
}